body {
	box-sizing: border-box;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

img {
	border: 7px double black;
}


.carousel img {
	width: 100%;
	height:100%;
	margin-top: 1rem;
}

i.fa-home{
	margin-left:1rem;
	margin-bottom: 1.2rem;
	color: gray;
}
i.fa-home:hover {
	color: purple;
}

i.fa-plane {
	color: steelblue;
}



.bio {
	border: 2px solid purple;
	margin: 2rem auto 1rem auto;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;

}

.bio p {
	padding: 5%;
}

figure img {
	border: 2px solid black;
}


/* ------------------------------------------------------*/

@media all and (min-width: 768px){
	.bio {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}
} /* closes medium media query */

@media all and (min-width: 1200px){
	body {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid rgba(139,137,137,.4);
	}
} /* closes xlarge media query */




















