body {
	margin: 0;
	padding: 0;
	background-color: #2D0033;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	line-height: 1.2;
	}
.articleone figcaption {
	color: rgba(255,255,255,.8);
}
.mobile-header {
	border: 2px solid white;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#names-container {
	display: flex;
	flex-direction: column;
	border 1px solid white;
	font-size: 2rem

	}

#names {
	border 1px solid red;
	margin-left: -1rem;
	 display: flex;
	 flex: 1;
	 flex-direction: column;
	}

.nameslink {
	text-decoration: none;
	opacity: 0.3;
	line-height: 2.5;
	color: white;
	flex: 1;
	}
.extraspace {
	flex: 5;
}

a:hover {
	color: #68ff7e;
	opacity: .5;
	text-decoration: none;
	}

.articleone, {
	margin-bottom: 2rem;
}

.articletwo {
	margin-bottom: 1rem;
}

.articletwo p {
	padding: 1%;
}

#addborder{
	border: none;
}


.bio {
	border: 1px solid floralwhite;
	border-radius: 5px;
	background-color: #aea5d4;
	padding: 10px;
	}

#giants {
	border: 1px solid white;
	width 100%;
	border-radius: 5px;
	margin-bottom: 2rem;
	margin-top: 1.4rem;
	}

#giants-div {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	}


#giants-div figure {
	margin: .5rem;
	flex-basis: 30%;
	display: flex;
	justify-content: center;
	}

#hula, #marathon {
	border: 2px solid white;
	}




/* -----------------------------------------------------*/

@media all and (min-width: 576px){
	article {
		display: flex;
	}

} /* closes small media query */

@media all and (min-width: 768px){
	#outer-most-wrapper {
		display: flex;
		margin-top: 3rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}

	.main {
		display: flex;
		flex-direction: column;
		background-color: #aea5d4;
	}

	.articleone {
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
	}

	.articleone figcaption {
		color: #292b2c;
	}

	#giants {
		margin-bottom: 1.5rem;
	}

	.addborder{
		border: 2px solid #2d0033;
		padding: 2px;
	}
} /* closes medium media query */

@media all and (min-width: 1200px){
	body {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid rgba(139,137,137,.4)
	}
} /* closes xlarge media query */




















