body {
	border: 3px solid #6EAEA1;
	font-family: 'finger paint', cursive;
	box-sizing: border-box;
}

.main {
	display: flex;
	flex-direction: column;
}

nav {
	border: 2px solid #ba0048;
	background-color: #bdc2cc;
	margin-top: 2rem;
	}

h1 {
	color: #0048ba;
	font-family: 'Ravi Prakash', cursive;
	letter-spacing: 2rem;
	font-size: 4rem;
	}

h1:hover {
	color: #ba0048;
	}

#pic-comparision {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.wrestling {
	width: 183px;
	}

p a {
	font-weight: bolder;
	/*background-color: #6EAEA1;*/
	color: red;
	}
p a:hover {
	color: orange;
}


#baseball {
	border: 1px solid black;
	}

header {
	border: 2px solid #ba0048;
	background-color: #bdc2cc;
	margin: 3% 1.5% 3% 1.5%;
	width: 100%;
	}

h1:hover {
	color: #ba0048;
	}

#names-container {
	order: -1;
	display: flex;
	flex-direction: column;
	border: 1px solid blue;
	font-size: 2rem;
	background-color: #6EAEA1;
	border: 4px double #676767;
	margin-left: -18px;
	margin-right: 2rem;
	}

.nameslink {
	display: block;
	text-decoration: none;
	color: #551a8b;
	opacity: 0.5;
	flex: 1;   /*    WHY IS THIS NOT WORKING???????   */
	}

 a:hover {
	color: #ffffff;
	opacity: .8;
	text-decoration: none;
	}

.meaning:hover {
	text-decoration: none;
}

/* -----------------------------------------------------------------*/



@media all and (min-width: 768px) {
	body {
		max-width: 80%;
		min-height: 100vh;
		margin: 2rem auto;
	}

	.main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 1rem;
		margin-left: 1.5%;
		margin-right: 1.5%;
		margin-bottom: 1rem;
	}

	#pic-comparision {
		margin-top: 0;
	}

	#baseball-pic-container {
		margin-right: 2rem;
	}

	#medium-size-wrapper {
		order: 2;
		margin-right: -18px;
	}

	h1 {
		font-size: 5rem;
	}
} /* closes medium media query  */


















