
body {
	max-width: 1200px;
	background: #252a33;
	/*background: linear-gradient (top, #252a33 0%, #ffffff 100%);   why doesn't this work??   */
	background-image: url('../images/matthewbackground.png');
	font-family: 'New Rocker', cursive;
	/*font-family: 'Unkempt', cursive;*/

}

.navbar {
	border: 2px solid rgba(255,255,255,.7);
	background-image: url('../images/matthewbackground.png');
	margin-top :1.2rem;

}

#mobile-image-wrapper {
	margin-top: 2rem;
	margin-left: 2rem;
}

#imagecontainer {
	display: inline-block;
	background-image: url('../images/matthewandkylia.jpg');
	width: 181px;
	height: 181px;
	border: 3px solid #ffffff;
	margin-right: 2%;
	}

#imagecontainer:hover {
	background-image: url('../images/kissingemoji.jpg')
	}	

#outermost-wrapper {
	margin: 2rem .8rem 2rem 1rem;
	}

h1 {
	color: #0ccc7f;
	margin-left: 2%;
	text-shadow: 8px 9px black;
	font-size 4rem;
	}

h1:hover {
	color: crimson;
	}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	}

.main {
	border: 2px solid #0ccc7f;
	margin-top: 2rem;
	}

#bio {
	margin: 2rem 0 2rem 0;
	}

p {
	color: white;
	opacity: 0.7;
	font-size: 1.4em;
	font-family: 'Unkempt', cursive;
	padding: 0 4%; 
	}

p a {
	text-decoration: none;
	color: pink;
	opacity: .9;
	font-family: 'Unkempt', cursive;
	}

p a:hover {
	color: cyan;
	}

table {
	font-family: 'Unkempt', cursive;
	border: 10px double #111723;
	color: #111723;
	background-color: #c8dbff;
	width: 100%;
	}

caption {
	font-size: 3em;
	color: #ff2877;
	opacity: 0.8;
	text-align: left;
	}

th {
	background-color: #111723;
	color: white;
	line-height: 2em;
	}

td {
	border: 1px solid #ffffff;
	padding-left 1%;
	width: 4.28%;
	}

td:hover {
	background-color: #cca9c2;
	opacity: 1;
	}

.hidden {
	display: block;
	text-align: center;
	opacity: 0.0;
	}


.hidden:hover {
	visibility: visible;
	opacity: 1;
	}

tr {
	border: 1px solid white;
	}	



#names-container {
	display: flex;
	flex-direction: column;
	border-right: 2px solid #cca9c2;
	margin-right: 1rem;
	font-size: 2rem;
	}

#names {
	 flex: 1;
	 display: flex;
	 flex-direction: column;
	 margin-top: 2rem;
	}

.nameslink {
	display: block;
	flex: 1;
	text-decoration: none;
	}

.extraspace {
	flex: 4;
}
	

#names a {
	color: white;
	opacity: .5;
	}
	
#names a:hover {
	opacity: 1;
	text-decoration: none;
	}

.meaning:hover {
	text-decoration: none;
}


/* ------------------------------------------------------------- */


@media all and (min-width: 576px ){
	#mobile-image-wrapper {
		display: flex;
		justify-content: center;
	}

	.mobile-header h1 {
		text-align: center;
	}
} /* closes small media query */


@media all and (min-width: 768px){
	h1 {
		margin-left: 2%;
		font-size: 4rem;
	}

	#outermost-wrapper {
		display: flex;
	}

	.main {
		border: none;
		border-left: 2px solid #0ccc7f;
		}

} /* closes medium media query */

@media all and (min-width: 1200px){
	body {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		border 1px solid rgba(139,137,137,.4)
	}
} /* closes xlarge media query */















