body {
	box-sizing: border-box;
	margin-bottom: 1rem;
	margin-top: 1rem;
}


.card-deck {
	margin-bottom: 2rem;
	margin-top: 2.3rem;
}

.card {
	margin-bottom: 1.9rem;
}

#bio {
	border: 1px solid pink;
	display: flex;
	flex-direction: column;
	margin: 1rem auto 0 auto;
	
}

figure img {
	border: 2px solid black;
}

section p {
	padding: 3%;
}

i {
	margin-left: 1rem;
	margin-bottom: 1.2rem;
	color: gray;
}
i:hover {
	color: purple;
}

#gambling {
	transition: 1.1s ease-out;
}

#gambling:hover {
	transform: rotate(1turn);
}


#all-about-me {
	position: relative;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#modal {
	transition: all 1s ease;
}

#modal {
	display: flex;
	align-items: center;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: 1.3s ease;
	transform: scale(1.2);
	background-color: rgba(11, 7, 56, .8);
	color: floralwhite;
	padding: 6%;
}

#modal:hover {
	opacity: 1;
	transform: scale(1);
}


/* ----------------------------------------------------------------*/


@media all and ( min-width: 576px){
	.card {
		margin-bottom: none;
	}
}


@media all and (min-width: 768px){
	#bio {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}

	} /* closes the medium media query */

@media all and (min-width: 1200px){
	body {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid rgba(139,137,137,.4);
		border: 1px solid lightsteelblue;
	}
} /* closes xlarge media query */
